*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("../img/pet.jpg");
    background-position: 50% 90%;
    background-size: 1450px;
    position: relative;
    height: 100vh;
    width: 100vw;
    color:bisque;
    font-family: Arial;
    overflow: hidden;
}
input{
    display:block;
    height: 50px;
    width: 400px;
    margin: 7px;
    border-radius: 30px;
    border: 1px solid white;
    font-size: 16pt;
    text-align: center;
    background-color: rgba(255,255,255,0.01);
    color: black;
    outline: none;
    
}

div#corp-form{
    /*background-color: red;*/
    width: 420px;
    margin: 100px auto 0px auto;
} 
div#corp-form-Cad{
    /*background-color: red;*/
    width: 420px;
    margin: 100px auto 0px auto;
}

div#corp-form h1, div#corp-form-Cad{
    text-align: center;
    padding: 20px;
}

a{
    color:bisque;
    text-decoration: none;
    text-align: center;
    display: block;
}

a:hover{
    text-decoration: underline;
}

input[type=submit]{
    background-color:#48D1CC;
    border: none;
    opacity: 0.95;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.button{
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}

:-moz-placeholder { /* Mozzila firefox 4 to 18 */
    color:   white;
}

::-moz-placeholder { /* Mozzila firefox 19+ */
    color:  white;
}

:-ms-input-placeholder { /* Internet explorer 10+ */
    color:  white;
}

div#msg-sucesso{
    width: 380px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(50,205,50,.3);
    border: 1px solid rgb(39,139,34);

}
div.msg-erro{
    width: 380px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(250,128,114,.3);
    border: 1px solid rgb(165,42,42);
}